header {
    margin-bottom: 1rem;
}

ul {
  list-style: none;
}

.titlelink {
    text-shadow: none;
    background-image: none;
}

.linktext {
    display: inline;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
}

.headerlinklist {
    list-style: none;
    float: right;
}

.listlinkitem {
    display: inline-block;
    margin-right: 1rem;
  }